/org.alienideology.aibot/src/main/java/secret/
/.idea
.gradle/
build/
gradlew
gradlew.bat
settings.gradle
org.alienideology.aibot/src/main/java/com/
org.alienideology.aibot/src/main/resources/
org.alienideology.aibot/src/test/
